// Write styles that are reusable across different stylesheets here
// Example: variables and media queries
// This stylesheet should be imported in all other stylesheets

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile-tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin wide-screen {
  @media (min-width: 1280px) {
    @content;
  }
}

// CSS Variables
:root {
  --container-padding-lr: 1rem;

  @include tablet {
    --container-padding-lr: 3rem;
  }

  @include desktop {
    --container-padding-lr: 6rem;
  }
}

// SCSS Variables
$header-height: 3rem;
