// Write generic styles here

@import "common.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  line-height: 1.5;
  word-break: break-word;
  list-style: none;
}

body {
  font-size: 1rem;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
}
