@import "../common.scss";

.spinner {
  border: 5px solid rgba(#000, 0.2);
  animation: spin 1s linear infinite;
  border-top: 5px solid #33b5e5;
  border-radius: 50%;

  &.large {
    $size: 50px;
    width: $size;
    height: $size;
    position: absolute;
    top: calc(50% - #{$size} / 2);
    left: calc(50% - #{$size} / 2);
  }

  &.small {
    border-width: 3px;
    width: 15px;
    height: 15px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
