@import "../common.scss";

.tabs {
  .head {
    display: flex;
    border-radius: 6px;
    color: #fff;
    background-color: #212121;

    .tab {
      display: flex;
      align-items: center;
      padding: 0.6rem 1.2rem;
      transition: background-color 0.3s ease;

      &:not(.active):not(.disabled):hover {
        cursor: pointer;
        background-color: rgba(#000, 0.5);
      }

      &.active {
        border-color: #33b5e5 !important;
      }

      &.disabled {
        cursor: none;
        opacity: 0.5;
      }
    }
  }

  .body {
    padding: 1.2rem;
  }
}

.tabs.x {
  .head {
    .tab {
      border-bottom: 4px solid #212121;

      &:first-of-type {
        margin-left: 1.2rem;
      }

      &:last-of-type {
        margin-right: 1.2rem;
      }
    }
  }
}

.tabs.y {
  display: flex;

  .head {
    flex-flow: column;
    flex: none;

    .tab {
      border-right: 4px solid #212121;

      &:first-of-type {
        margin-top: 1.2rem;
      }

      &:last-of-type {
        margin-bottom: 1.2rem;
      }
    }
  }
}
